/* https://github.com/rstudio/shiny-examples/blob/master/063-superzip-example/styles.css */

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}


/* Change color of cluster markers on leaflet map */
/* https://www.mapsmarker.com/kb/user-guide/how-to-change-the-color-of-marker-clusters/ */

.marker-cluster-small {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

.marker-cluster-small div {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

.marker-cluster-medium {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

.marker-cluster-medium div {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

.marker-cluster-large {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

.marker-cluster-large div {
	background-color: rgba(170, 170, 170, 0.6) !important;
}

